main {
    width: 100%;
}

fieldset {
    height: 400px;
    width: 600px;
    margin-top: 10%;
    margin-left: 15%;
    border-radius: 5px;
}

#coffeeShop {
    font-size: 26px;
}

#top {
    position: relative;
}

#top_left {
    background-image: url("../image/coffeeShop.jpg");
    background-repeat: no-repeat;
    float: left;
    height: 250px;
    width: 302px;
}

#top_right {
    position: relative;
    margin-left: 302px;
}

#bottom {
    /*    background-color: #d8ff00;*/
    position: relative;
    top: 290px;
    left: 0px;
}

#bottom_left {
    border-radius: 5px;
    border: 1px solid #000000;
    padding-top: 5px;
    padding-bottom: 5px;
    width: 230px;
    position: absolute;
    top: 0px;
    left: 35px;
}

#bottom_right {
    border-radius: 5px;
    border: 1px solid #000000;
    padding-top: 5px;
    padding-bottom: 5px;
    width: 230px;
    position: absolute;
    top: 0px;
    left: 335px;
}

.button {
    display: block;
    text-align: center;
    font-size: 22px;
    color: black;
}